/* ===== CARD PENGATURAN ===== */
.card {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;

    width: 100%;
    max-width: 800px;     /* SAMAKAN DENGAN HALAMAN LAIN */
    margin: 0 auto;       /* ⬅️ CENTER */

    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.card h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

/* ===== FORM ===== */
.card form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.card label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

.card input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.card input:focus {
    outline: none;
    border-color: #4CAF50;
}

/* ===== BUTTON ===== */
.btn {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #6e4326;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.btn:hover {
    background: #b98034cc;
}

/* ===== ALERT ===== */
.alert {
    padding: 12px 16px;
    border-radius: 12px;
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 14px;
}

.alert.success {
    background: #e8f5e9;
    color: #2e7d32;
}
